<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#F8F9FA">

    <meta property="og:title" content="defStop">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

<!--    <link rel="manifest" href="site.webmanifest">-->
<!--    <link rel="apple-touch-icon" href="apple-touch-icon.png">-->
<!--    <link rel="icon" href="favicon.ico">-->

    <link rel="stylesheet" href="/stylesheets/vendor/normalize.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/main.min.css'>

</head>
